
/*moviles */
@media (min-width: 320px) and (max-width: 480px) {
  
}
/*ordenadores */
@media only screen and (min-width : 1224px) {

 }

.wrapper {
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
  }

  .title {
    font-size: 3.2rem;
    font-family: 'Lobster', cursive;padding:10px 20px; margin: 0px 0px; position: absolute; left: 900px; top:500px;}
  
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(73, 70, 70);
    position: absolute;
    top: 15px;
    width: 100%;
    height:100px;
    align-items: center;
}
li{
    float:left
}
.logo {position: absolute;top: 15px;right: 1px;
height:100px;
width: 100px;
padding:0px;}

li a{
    display:block;
    font-family: fantasy;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    text-decoration: solid;
    
}
li a:hover {background-color: blue;
            color: darkgrey;
        height: 100%;}

.info {display:block; background-color: rgb(32, 10, 224);
    color: white;
    text-align: center;font-family: cursive ; position: absolute; font-size: 18px;width: 500px;height: 100px; top: 600px;left: 120px;}


h6{color: red;position:absolute; top:610px;left: 670px;}

.animado{position:absolute;top:25px;left: 800px;}

.precios{display:block; background-color: rgb(32, 10, 224);
    color: white;
    text-align: center;font-family: cursive ; position: absolute; font-size: 18px;width: 500px; height: 100px; top: 600px;left: 1035px;}
.seccion{display: flex;flex-direction:row;width: calc(50% - 2em);
    margin: 1em; text-align: center;word-wrap: normal;
    font-size: 20px;}


@keyframes animation {
    100%{
     background-position:0px -3000px;
   }
 }
 
  .hacerzoom {
    border: 3px solid; border-color: red;
    transition: transform .2s; 
}
 
.hacerzoom:hover {
    transform: scale(3); 
}


.container{  display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
        font-size:25px;
    color: white;
    border:2px solid #000000;
    margin:10px;
    padding:10px;
    height:550px;
    width:1000px;
    background-color:blue;
    
}
.productos{
    font-size: 50;
    font-family: 'Lobster', cursive;padding:10px 20px; margin: 0px 0px; position: absolute; left: 500px; top:200px;}
.un{
    grid-column:1;
    grid-row: 1;
  }
  .dos {
    grid-column: 2;
    grid-row:1;
  }
  .tres {
    grid-column: 3;
    grid-row: 1;
  }
  .cua {
    grid-column: 4;
    grid-row: 1;
  }
  .cinc {
    grid-column: 1;
    grid-row: 2;
  }
  .seis {
    grid-column:2;
    grid-row: 2;
  }
  .sie{grid-column:3;
    grid-row: 2;}

  .ocho{grid-column:4;
    grid-row: 2;}
